h1 {
	text-align: center;
	border: 2px;
	color: black;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
}
tr:nth-child(even) {
    background-color: #white;
}

.table-striped {

	background-color: #ECEBEB;
}
